.breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 8px 0;

    > .item {
        display: inline-block;

        &:not(:first-child)::before {
            @include icon;
            color: $grey-light-60;
            content: '\e92e';
            font-size: $base-font-size + 2;
            position: relative;
            top: 3px;
        }
    }
}
