%general-table {
    border: $base-border;
    border-radius: $base-border-radius;
}

%cell {
    border-bottom: $base-border;
    padding: 10px;
}

%cell-in-header-row {
    background-color: $white;
    color: $primary-color-dark-80;
    font-size: $base-font-size - 2;
    font-weight: 600;
    text-transform: uppercase;
}

%cell-in-even-row {
    background-color: rgba($grey-light-100, .5);
}

%cell-in-hovered-row {
    background-color: rgba($primary-color-light-100, .5);
    border-bottom-color: $primary-color-light-80;
}

%cell-in-selected-row {
    background-color: $primary-color-light-80;
}

%header-row {
    border-radius: $base-border-radius $base-border-radius 0 0;
    box-shadow: 0 3px 2px -2px $grey-light-80;
}

// Table by div
.data-table {
    @extend %general-table;
    @include display(flex);
    @include flex-flow(column nowrap);
    @include justify-content(space-between);

    .row {
        @include display(flex);
        @include flex-flow(row nowrap);
        margin-bottom: 0;

        &:last-child > .cell {
            border-bottom: 0;
        }
    }

    .cell {
        @extend %cell;
        @include align-items(center);
        @include display(flex);
        @include flex-basis(0);
        @include flex-flow(row nowrap);
        @include flex-grow(1);
    }

    .row:nth-child(even) > .cell {
        @extend %cell-in-even-row;
    }

    .row:hover > .cell {
        @extend %cell-in-hovered-row;
    }

    .row.selected > .cell,
    .row.selected:hover > .cell {
        @extend %cell-in-selected-row;
    }

    .-head {
        @extend %header-row;

        > .cell {
            @extend %cell-in-header-row;
        }

        > .cell:first-child {
            border-radius: $base-border-radius 0 0;
        }

        > .cell:last-child {
            border-radius: 0 $base-border-radius 0 0;
        }

        &:hover > .cell {
            background-color: $white;
            border-bottom: $base-border;
        }
    }
}

// Pure table
.table {
    @extend %general-table;
    border-spacing: 0;
    width: 100%;

    th,
    td {
        @extend %cell;
    }

    tr:last-child > td {
        border-bottom: 0;
    }

    tr:nth-child(even) {
        background-color: rgba($grey-light-100, .5);
    }

    tr:hover > td {
        background-color: rgba($primary-color-light-100, .5);
        border-bottom-color: $primary-color-light-80;
    }

    .selected > td,
    .selected:hover > td {
        @extend %cell-in-selected-row;
    }

    thead > tr {
        @extend %header-row;
    }

    th {
        @extend %cell-in-header-row;
        box-shadow: 0 3px 3px -2px $grey-light-80;
        text-align: left;
    }
}
